*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
}

/* início cabeçalho */
.background{
    background-image: url(Fundo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 60vh; 
    margin-right: 5rem;
}
body{
    background-color: #121212;
}
header{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding-top: 1.5rem;
    align-items: center;
}
.logo img{
    margin-left: 1rem;
}
ul{
    list-style: none;
    display: flex;
    gap: 3rem;
}
ul li{
    list-style: none;

}
ul li a{
    text-decoration: none;
    color: #fff;
    background-color: #393E46;
    border-radius: 2px;
    padding: 5px;
    transition: 0.3s;
}
.Cont-icones{
    border-right: 1rem;
}
.icone ion-icon{
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    margin-right: 1rem;
}
ul li a:hover{
    text-transform: capitalize;
    color: rgb(8, 8, 8);
    background-color: rgb(200, 246, 75);
    border-bottom: solid, 1px;
    font-size: large;
    border-radius: 5px;
    padding: 10px 15px;
}
hr{
    border-bottom: solid, 1px;
    color: #fff;
    margin-top: 15px;
}
.Cont-titulo{
    margin-left: 5rem;
    margin-top: 1rem;
}
.Cont-titulo h1{
    color: #393E46;
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 1px;
}
.Cont-titulo p{
    color: rgb(200, 246, 75);
    line-height: 2rem;
    font-weight: 100;
    -webkit-text-stroke-color: #000;
    -webkit-text-stroke-width: 0.2px;
}
.Cont-titulo button{
    margin-top: 1.5rem;
    background-color: #393E46;
    color: #fff;
    font-size: 0.8rem;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.Cont-titulo button:hover{
    letter-spacing: 1px;
    transition: 0.3s all;
    background-color: #fff;
    color: #393E46;
}

/* fim cabeçalho */

.sec1 h1{
    text-align: center;
    align-items: center;
    color: #fff;
    font-size: 2rem;
    padding: 4%;
}
.ofertas{
    color: rgb(200, 246, 75);
}
.cont-card1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 15px;
}
.cont-card2{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 15px;
}
.card{
    border: solid 1px rgb(255, 255, 255, .3);
    padding: 50px;
    align-items: center;
    text-align: center;
    max-width: 100%;
    width: 25rem;
}
.card h3{
    font-size: 1.5rem;
    color: #fff;
    
}
.card p{
    color: #fff;
    font-size: 1.8rem;
}
.card button{
    margin-top: 1rem;
    background-color:rgb(255, 255, 255, .3);
    color: #fff;
    font-size: 1.2rem;
    padding: 10px 15px;
    cursor: pointer;
}
.card button a{
    text-decoration: none;
    color: rgb(200, 246, 75);
}
.card span{
    color: #fff;
    font-weight: lighter;
    text-decoration: line-through;
    font-size: 1rem;
}
.card:hover{
    transform: scale(1.1);
    transition: 0.5s;
    background-color: #393E46;
    border-radius: 3px;
}

/* INICIO TABELA */

.sec2 h1{
    color: #fff;
    text-align: center;
    padding-top: 30px;
    font-size: 2rem;
}

.categorias{
    display: flex;
    margin: auto;
    margin-top: 10px;
}

.tabela{
    width: 100%;
    text-align: center;
}

.tabela thead{
    font-weight: bold;
    color: #fff;
    font-size: large;
}

.tabela tbody{
    color: #fff;
}

.tabela th, .tabela td{
    padding: 6px;
}

.tabela td:hover{
    color: rgb(200, 246, 75);
    text-decoration: underline;
    cursor: pointer;
}



/* início rodape */
.voltar{
    background-color: darkgrey;
    text-align: center;
    color: #fff;
    text-decoration: none;
}
.voltar a{
    text-decoration: none;
    color: #fff;
}
.direitos{
    background-color: rgb(57, 62, 70);
    color: #fff;
    padding: 20px;
}
.redes{
    background-color: rgb(57, 62, 70);
    color: #fff;
    padding: 15px;
}
.redes p:hover{
    cursor: pointer;
    text-decoration: underline;
}
/* fim rodape */